/* Ensure video background covers the entire viewport */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
    /* Pushed to the back */
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and fill the screen */
    object-position: center;
    transform: translate(-50%, -50%);
}

/* Mobile-specific adjustments */
@media (max-width: 767px) {
    .video-container video {
        object-fit: cover;
        min-height: 100vh;
    }
}

h1 {
    font-size: 1.75rem;
    /* 28px for larger screens */
}

p {
    font-size: 1rem;
    /* 16px for larger screens */
}

/* Media Query for Mobile Devices */
@media (max-width: 640px) {
    h1 {
        font-size: 1.25rem;
        /* 20px for mobile */
    }

    p {
        font-size: 0.875rem;
        /* 14px for mobile */
    }

    .font-cursive {
        font-size: 1.5rem;
        /* 24px reduced for mobile */
    }

    .text-lg {
        font-size: 1rem;
        /* 16px */
    }

    .text-3xl {
        font-size: 1.5rem;
        /* 24px */
    }

    .text-4xl {
        font-size: 2rem;
        /* 32px */
    }
}